html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 'Coruiel';
}
.container {
    width: 80%;
    border: 1px solid #2f2f2f2f;
    margin: 0 auto;
    margin-top: 10rem;
}
.container h1 {
    font-size: 4rem;
    text-align: center;
    color: #421AA0;
}
.container p {
    font-size: 2.5rem;
    color:  gray;
    text-align: center;
    padding: 4rem 0 ;
}