html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    text-align: center;
    font-family: 'Arial';
    font-size: 2.6rem;
    margin: 0;
    padding: 0;
}
#Cabecera {
    background-color: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2rem;
    text-align: left;
}
#Cabecera span {
    padding: 0 0 0 1rem;
    font-weight: normal;
    font-size: 1.8rem;
}
.container {
    width: 80%;
    border: 1px solid #2f2f2f2f;
    margin: 0 auto;
    margin-top: 10rem;
}
.container h1 {
    margin-top: 10rem;
    font-size: 4rem;
    text-align: center;
}
.container p {
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem 0 ;
}